body {
    background-color: rgb(114, 187, 255);
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

#siteHead {
    text-align: center;
    margin-top: 4%;
    font-size: 3em;
}

#loginTitle {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 0px;
    font-size: 1.5em;
}

.login-background {
    background-color: rgb(209, 233, 255);
    width: 50%;
    height: 450px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 2%;
}

#username-label {
    padding-left: 7%;
    padding-top: 10%;
    font-weight: 300;
}

#username-input {
    margin-left: 7%;
    height: 5%;
    width: 80%;
    margin-right: 13%;
    border-radius: 2%;
    padding: 1% 2%;
    border: 0px;
}

#password-label {
    padding-left: 7%;
    padding-top: 3%;
    font-weight: 300;
}

#password-input {
    margin-left: 7%;
    height: 5%;
    width: 80%;
    margin-right: 13%;
    border-radius: 2%;
    padding: 1% 2%;
    border: 0px;
}

#submit-login {
    font-size: 1em;
    font-weight: 300;
    background-color: white;
    border: 1px white;
    border-radius: 4%;
    width: 20%;
    margin: 4% 40%;
}
