body {
    background-color: rgb(114, 187, 255);
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
}

#siteHead {
    text-align: center;
    margin-top: 4%;
    font-size: 3em;
    font-weight: 300;

}

#loginTitle {
    text-align: center;
    margin-top: 4%;
    margin-bottom: 0px;
    font-size: 1.5em;
    font-weight: 300;

}

.login-background {
    background-color: rgb(209, 233, 255);
    width: 48%;
    height: 450px;
    margin-left: 26%;
    margin-right: 26%;
    border-radius: 40px;
    font-weight: 300;
}

#username-label {
    padding-left: 7%;
    padding-top: 10%;
    font-weight: 300;
}

#username-input {
    margin-left: 7%;
    height: 5%;
    width: 80%;
    margin-right: 13%;
    border-radius: 6px;
    padding: 1% 2%;
    border: 0px;
    font-weight: 300;
}

#password-label {
    padding-left: 7%;
    padding-top: 3%;
    font-weight: 300;
}

#password-input {
    margin-left: 7%;
    height: 5%;
    width: 80%;
    margin-right: 13%;
    border-radius: 6px;
    padding: 1% 2%;
    border: 0px;
    font-weight: 300;
}

#submit-login {
    font-size: 1em;
    font-weight: 300;
    background-color: white;
    border: 1px white;
    border-radius: 5px;
    width: 20%;
    margin: 8% 40% 3% 40%;
    font-weight: 300;
}

#nav-signup {
    text-align: right;
    margin-right: 8%;
}

a {
    text-decoration: none;
    font-weight: 500;
    color: rgb(114, 187, 255);
}
